
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SovereignHomePage.cshtml";
}

<div class="content_product">
    <div class="img_product">
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_1_026004da1dd74543899278acdba388b6_master.png"
                 alt="">
        </div>
        <div class=" img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_2_388bf02660374194937faa79d6bc71e6_1024x1024.png"
                 alt="">
        </div>
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_3_6285ea9ff1d848dbafd7d5eb5a5bd30a_1024x1024.png"
                 alt="">
        </div>
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_4_1cdcc7353948461188e445c7797e1cb2_1024x1024.png"
                 alt="">
        </div>
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_8_b566e909747a4fd588644fb13ef3b22b_1024x1024.png"
                 alt="">
        </div>
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_7_be505a30e374415e887069b3b373d347_1024x1024.png"
                 alt="">
        </div>
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_5_495070675d8d4ed790e47c8365805142_1024x1024.png"
                 alt="">
        </div>
        <div class="img_product-item">
            <img class="img_product-item-detail"
                 src="https://product.hstatic.net/1000357687/product/artboard_9_f4aec30662614aac91415fe398022313_1024x1024.png"
                 alt="">
        </div>
    </div>
    <!-- mô tả sản phẩm -->
    <div class="describe_product">
        <div class="describe_product-name">
            Áo thun GOAT Father // White
        </div>
        <div class="describe_product-price">
            490,000₫
        </div>
        <div class="describe_product-price">
            <a href="./ClothesSize.html">Bảng Size</a>
        </div>
        <div class="describe_product-detail">
            Model [1m78 - 65kg]. Áo size L.<br>
            ---<br>
            Thông tin kỹ thuật:<br>

            . Chất liệu: Sovereign™ Streetvibe Fabric: 100% cotton 2 chiều, định lượng 250 gsm, dày dặn, hầu như
            không chảy nhão, bo cổ bền bỉ, thấm hút cực tốt và mát mẻ. Giặt máy thoải mái.<br>
            . Chi tiết in: kéo lụa mực nước.<br>
            Thông tin thêm: Vì sử dụng vải hai chiều, chúng tôi khuyên bạn lộn mặt trái khi giặt và ủi, sử dụng
            túi giặt, cũng như không sử dụng chế độ sấy của máy.<br>

        </div>
        <!-- Kích thước -->
        <div class="describe_product-size">
            <div class="describe_product-size-name">Size:</div>
            <div class="describe_product-full-size-item">
                <button class="describe_product-size-item">S</button>
                <button class="describe_product-size-item">M</button>
                <button class="describe_product-size-item">L</button>
                <button class="describe_product-size-item">XL</button>
            </div>
        </div>
        <div class="describe_product-amount">
            <div class="describe_product-amount-left">
                <P>Amount:</P>
            </div>
            <!-- Số lượng -->
            <div class="buttons_added">
                <input class="minus is-form" type="button" value="-">
                <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="1">
                <input class="plus is-form" type="button" value="+">
            </div>
        </div>
        <div class="cart">
            <button class="describe_product-pay">
                Thêm vào giỏ hàng
            </button>
            <button class="describe_product-pay">
                Đặt hàng
            </button>
        </div>
    </div>
</div>

