
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SovereignHomePage.cshtml";
}

<div id="containerProduct">
    <div class="headLine">
        <h1>Tất cả sản phẩm</h1>
    </div>
    <ul class="products">
        <!-- sản phẩm 1 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/tshirt-gdc-goat-bros-black-artboard-7_40a009e451d04a7e99a847d31f2f1f88_1024x1024.png"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Áo thun GOAT Night // Black</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 2 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="@Url.Action("Details", new {id=1})" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/artboard_1_026004da1dd74543899278acdba388b6_1024x1024.png"
                             alt="">
                    </a>
                    <a href="./ProductDetails.html" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="./ProductDetails.html" class="product-name">Áo thun GOAT Father // White</a>
                    <div class="product-price">499,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 3 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/2_995ea59933b34c4b80a8dc3a0891b750_1024x1024.png"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Jacket a.k.a. Sovereign-tech jacket AT:03 Plus+</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 4 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/1_eca1e03d73284076ae545ef4d538d95c_1024x1024.png"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Quần Cargo B-mov // Beige</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 5 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/mat-truoc-sau-quan-flex-pain-artboard-2_808a01314b2c4af69084a1636cd935f4_1024x1024.png"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Quần Sovereign Basic // Black</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 6 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/mat_truoc_fb00e27a8a864a5ca123ee3208a47698_1024x1024.png"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Quần short Westside</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 7 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/box-logo-trangartboard-2_1f2f3b0f3e2c4b3ea74ef2644102a791_1024x1024.png"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Basic shorts // White</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>

        <!-- sản phẩm 8 -->
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="https://product.hstatic.net/1000357687/product/ao_monogram_den___tay_dai_artboard_17_ba61cdf426514c97bee953cc70b1aeed_1024x1024.jpg"
                             alt="">
                    </a>
                    <a href="" class="buy-now">Buy now</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Áo thun tay dài Monogram // Đen</a>
                    <div class="product-price">399,000₫</div>
                </div>
            </div>
        </li>
    </ul>
</div>

