@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbutu', sans-serif;
}
:root{
    --red: #ed2025;
    --blue:#287bff;
    --white:#fff;
    --grey: #f5f5f5;
    --black: #222;
    --xam:#999;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--red);
    border-left: 10px solid var(--red);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;

}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;

}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li a img{
    width: 200px;
    margin-top: 20px;
    margin-left: 10%;
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--red);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* bo vien ben phai menu */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background:transparent;
    border-radius: 50px;
    box-shadow: 35px 35px 0px 10px var(--white);
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background:transparent;
    border-radius: 50px;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
}
/* main */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.Title{
    position: relative;
    width: 400px;
    margin: 0 10px;
    color: var(--red);
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.cardBox .card {
    text-decoration: none;
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--red);
}
.cardBox .card .cardName{
    color: var(--xam);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBox{
    font-size: 3.5em;
    color: var(--xam);
}
.cardBox .card:hover{
    background: var(--red);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--white);
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .recentOrders{
    position: relative;
    background: var(--white);
    padding:20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--red);
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead th{
    font-weight: 600;
    text-align: center;
    grid-column: span 6;
}
.details .recentOrders table tr{
    color: var(--black);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: var(--red);
    color: var(--white);
}
.details .recentOrders table tr td{
    padding: 10px;
    text-align: center;
}

.details .recentOrders table tr td ion-icon{
    font-size: 30px;
}

.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: center;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: end;
}






.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead th{
    font-weight: 600;
    text-align: center;
    grid-column: span 6; /* Đặt số lượng cột cho phần thead */
}

.details .recentOrders table tr{
    color: var(--black);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover{
    background: var(--red);
    color: var(--white);
}

.details .recentOrders table tr td{
    padding: 10px;
    text-align: center;
}

.details .recentOrders table tr td a ion-icon{
    font-size: 30px;
    color: var(--xam);
}

.details .recentOrders table tr td:last-child{
    text-align: center;
}

.details .recentOrders table tr td:nth-child(2){
    text-align: center;
}

.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
