@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <div class="box-left">
        <h2>
            <span>Sovereign</span>
            <br>
            <span>World Famous</span>
        </h2>
        <p>
            Ở đây chúng tôi không chỉ đơn giản là bán quần áo,
            chúng tôi bán đẳng cấp, nơi phong cách và sự đặc biệt,
            tạo nên sự tự tin và cái nhìn độc đáo về thời trang của bạn.
        </p>
        <button>Buy now</button>
    </div>
    <div class="box-right">
        <img src="~/Asset/img/HomePage/BannerRight1.png" alt="">
        <img src="~/Asset/img/HomePage/BannerRight2.png" alt="">
        <img src="~/Asset/img/HomePage/BannerRight3.png" alt="">
    </div>
    <div class="to-bottom">
        <a href="">
            <img src="~/Asset/img/HomePage/to_bottom.png" alt="">
        </a>
    </div>
</div>

<div class="intro">
    <img src="~/Asset/img/IntroSovereign.jpg" alt="">
    <div class="introText">
        <a class="titleIntro" href="">
            <b>Sovereign World Famous</b>
        </a>
        <div class="storySovereign">
            Sovereign - Sự ra đời của thời trang đẳng cấp. Ánh mắt quan sát mỗi đường may tỉ mỉ,
            từng sợi chỉ tinh tế. Chất liệu cao cấp ôm trọn sự thoải mái. Phong cách
            độc đáo đậm chất cá nhân. Từng sản phẩm là biểu tượng tinh
            tế của sự thành công. Sovereign - Khẳng định đẳng cấp, từng chấm phá trong
            thế giới thời trang.
        </div>
        <a class="moreIntro" href="">XEM THÊM</a>
    </div>
</div>

<div class="slider">
    <img src="~/Asset/img/HomePage/Slider1.png" alt="Image 1" class="active">
    <img src="~/Asset/img/HomePage/Slider2.png" alt="Image 2">
    <img src="~/Asset/img/HomePage/Slider3.png" alt="Image 3">
    <img src="~/Asset/img/HomePage/Slider4.png" alt="Image 4">
</div>

<div class="shopInfo">
    <span>TÌM CỬA HÀNG GẦN BẠN NHẤT</span>
    <a href="./Contact.html" target="_blank">HỆ THỐNG CỬA HÀNG</a>
</div>
